@import "tailwindcss";

@layer base {
  body {
    @apply transition-colors duration-300 antialiased;
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
  
  body.light {
    @apply bg-white text-gray-900;
  }
  
  body.dark {
    @apply bg-[#252128] text-gray-100;
  }
}

/* API Butonu ve Başlık Renkleri İçin Kesin Sınıflar */
.text-brand-main { color: #4731d3 !important; }
.dark .text-brand-main { color: #b7abff !important; }
.bg-brand-main { background-color: #4731d3 !important; }