@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* LIGHT MODE */
body.light {
  background-color: #ffffff;
  color: #000000;
}

/* DARK MODE */
body.dark {
  background-color: #0f172a;
  color: #ffffff;
}
